@media (max-width: 1399px) {
  .site-header .navbar-brand img {
    max-width: 280px;
  }

  .site-header .navbar-nav {
    gap: 30px;
  }
}

@media (max-width: 1199px) {
  .btn-desk {
    display: none;
  }

  .btn-mobi {
    display: block;
  }
}

@media (max-width: 991px) {
  .site-header .navbar {
    padding: 10px 0 !important;
  }

  .hero-section .text-wrap h1 {
    font-size: 50px;
    line-height: 1.2;
  }

  .hero-section {
    min-height: 500px;
  }

  .sc-sponser,
  .sc-joinius,
  .sc-whatis,
  .sc-corevalue,
  .sc-ourmenbers,
  .sc-events,
  .sc-testimonial,
  .sc-faq {
    padding: 50px 0;
  }

  .upper-wrap-cn,
  .upper-wrap-btn {
    width: 100%;
    text-align: start;
  }

  .whatis-sc-clip {
    display: none;
  }

  h2,
  .sc-dash-banner h1 {
    font-size: 30px !important;
    margin-bottom: 10px !important;
  }

  p {
    font-size: 16px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  .eventcard-cn p {
    font-size: 18px !important;
  }

  /*   
  .dashboard-wrap {
    flex-direction: column;
    position: relative;
  }

  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    z-index: 999;
    width: 250px;
    height: 100%;
  }

  .sidebar.open {
    transform: translateX(0);
  }



  .sidebar-toggle {
    display: inline-block;
    background: none;
    border: none;
    font-size: 24px;
    z-index: 1000;
  }
*/
  .dashboard-wrap .content {
    width: 100%;
  }

  .user-profile {
    padding: 10px;
  }

  .user-img img {
    width: 40px;
    height: 40px;
  }

  .user-edir-pic {
    width: 24px;
    height: 24px;
    bottom: -5px;
    right: -5px;
  }

  .user-edir-pic img {
    width: 14px;
    height: 14px;
  }

  .user-img {
    margin-bottom: 10px;
  }

  .user-profile h5,
  .user-profile p {
    font-size: 16px;
    display: none;
  }

  .sidebar-ul li a {
    padding: 10px 20px;
  }

  .sidebar-ul li a {
    font-size: 15px;
  }

  .sidebar-ul li a.active {
    border-bottom: 2px solid var(--secondary-clr);
  }

  .sidebar-ul li a span {
    display: none;
  }

  .sidebar {
    width: auto;
  }
}

@media (max-width: 767px) {
  .site-header .navbar-brand img {
    max-width: 200px;
  }

  .hero-section .text-wrap h1 {
    font-size: 30px;
    line-height: 1.2;
  }

  .sc-faq .faq-wrap span,
  .sc-testimonial span,
  .sc-events span,
  .sc-ourmenbers span,
  .sc-whatis-txt span,
  .sc-joinius span {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .eventcard-cn span {
    font-size: 18px;
  }

  .forums-card-text {
    padding: 15px;
  }

  .menberform select,
  .menberform .btn-main {
    min-height: auto;
  }

  .menberform select,
  .menberform .btn-main {
    padding: 15px 20px;
  }

  .sc-events .nav-tabs {
    overflow: auto;
    flex-wrap: unset;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .sc-events .nav-tabs button {
    white-space: nowrap;
  }

  .eventcard-cn {
    gap: 20px;
  }

  .sc-whatis::before {
    display: none;
  }

  .dashboard-wrap .content {
    padding: 20px;
  }
  .sc-form{
    padding: 50px 0;
    min-height: auto;
  }
}

@media (max-width: 575px) {
  .site-header .navbar-brand img {
    max-width: 160px;
  }

  h2 {
    font-size: 24px !important;
  }

  .join-card-img img {
    width: 40px;
    height: 40px;
  }

  .join-card-text h4 {
    font-size: 18px !important;
  }
}